<template>
  <el-dialog
    title="添加账单"
    :visible.sync="dialogVisible"
    :before-close="close">
    <el-form ref="form" status-icon :model="form" label-width="120px">
      <el-form-item label="账单分类" prop="category"
        :rules="[
          { required: true, message: '账单分类不能为空', trigger: ['blur', 'change'] }
          ]"
        >
        <el-select v-model="form.category" placeholder="选择分类">
          <el-option
            v-for="item in categories"
            :key="item.id"
            :label="item.name"
            :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="账单金额" prop="amount"
         :rules="[
          { type: 'number', required: true, message: '请输入账单金额', trigger: 'blur', transform: parseFloat }
          ]"
        >
        <el-input :controls="false" v-model="form.amount" placeholder="单位：元"></el-input>
      </el-form-item>
      <el-form-item label="账单日期">
        <el-date-picker
          v-model="form.time"
          type="datetime"
          placeholder="不选为现在">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submit">创建账单</el-button>
        <el-button  @click="dialogVisible = false">取消</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>
<script>
import axios from 'axios'

export default {
  name: 'BillForm',
  data: () =>{
    return {
      dialogVisible: true,
      form:{

      }
    }
  },
  props: {
    categories: {
      type: Array,
      default: () => [],
    }
  },
  mounted () {
    
  },
  activated(){
    this.dialogVisible = true
    this.form = {}
    
  },
  methods: {
    submit(){
      this.$refs.form.validate((valid) => {
        if (valid) {
          this.form.amount = parseFloat(this.form.amount) * 100
          this.form.type = this.type(this.form.category)
          this.save(this.form)
        } else {
          return false
        }
      })
    },
    save(body){
      axios.post('/api/bill', body).then((res) => {
        this.$emit('bill', res.data)
        this.$message({
          message: '账单已经保存在服务器',
          type: 'success'
        })
      })
    },
    type(category){
      let item = this.categories.find((item)=> item.id == category)
      return item && item.type
    },
    close(){
      this.$emit('close')
    }
  }
}
</script>

<style scoped>
  .el-input, .el-select {
    width: 300px;
  }
</style>
