<template>
  <div class="bills">
    <el-row v-bind:class="[bill.type == 0 ? 'spending' : 'incoming', 'padding']" type="flex" v-for="(bill , key, index) in bills" v-bind:key="index">
      <el-col :span="6"> {{bill.categoryName}} </el-col>
      <el-col :span="6"> {{bill.typeName}} </el-col>
      <el-col :span="6"> {{bill.amount | fixed}} </el-col>
      <el-col :span="6"> {{bill.time | dateFormat}} </el-col>
    </el-row>
  </div>
</template>

<script>

export default {
  name: 'Bill',
  data() {
    return {
    }
  },
  props: {
    bills: {
      type: Array,
      default: () => [],
    }
  },
  watch: {
    'bills': function(val) {
      val
    },
  },
  methods: {
    format(){
    }
  }
}
</script>
<style scoped>
  .incoming{
    background: #f0f9eb;
  }
  .spending{
    background: #fdf5e6;
  }
  .padding{
    padding: 6px 16px;
  }
</style>
