<template>
  <div class="bills">
    <el-row type="flex" justify="center" v-bind:class="[summary.type == 0 ? 'spending' : 'incoming', 'padding']" v-for="(summary , key, index) in summaries" v-bind:key="index">
      <el-col :span="6"> {{summary.categoryName}} </el-col>
      <el-col :span="6"> {{summary.typeName}} </el-col>
      <el-col :span="6"> {{summary.total | fixed}} </el-col>
    </el-row>
  </div>
</template>

<script>

export default {
  name: 'Statistic',
  data() {
    return {
      summaries: []
    }
  },
  props: {
    bills: {
      type: Array,
      default: () => [],
    }
  },
  watch: {
    'bills': function(val) {
      if(!val){return}
      let groups = val.reduce(function (r, a) {
        let item = r[a.category] || {}
        if(!item.total){
          item.total = 0
        }
        item.total += a.amount
        item.categoryName = a.categoryName
        item.typeName = a.typeName
        item.type = a.type
        r[a.category] = item
        return r
      }, {})
      this.summaries = Object.keys(groups).map((key) => groups[key]).sort((a, b) => b.total - a.total)
    },
  },
  methods: {
    format(){
    }
  }
}
</script>
<style scoped>
  .incoming{
    background: #f0f9eb;
  }
  .spending{
    background: #fdf5e6;
  }
  .padding{
    padding: 6px 16px;
  }
</style>
