<template>
  <el-container>
    <el-header class="mt-3">
      <el-row>
        <el-col :span="16">
          <el-popover
            placement="top"
            trigger="click">
            <el-date-picker
              @change="monthChange"
              v-model="months"
              type="month"
              placeholder="选择月份">
            </el-date-picker>
            <el-button slot="reference" class="mr-3">按月查看</el-button>
          </el-popover>
          <el-popover
            placement="top"
            trigger="click">
            <el-date-picker
              @change="monthChange"
              v-model="months"
              type="monthrange"
              range-separator="至"
              start-placeholder="开始月份"
              end-placeholder="结束月份">
            </el-date-picker>
            <el-button slot="reference" class="mr-3">按区间查看</el-button>
          </el-popover>
          <el-select v-model="kind" 
            @change="filter"
            @clear="clear"
            clearable
            placeholder="按分类查看">
            <el-option-group
              v-for="group in options"
              :key="group.label"
              :label="group.label">
              <el-option
                v-for="item in group.options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-option-group>
          </el-select>
        </el-col>
        <el-col :span="8" class="text-right">
          <el-button type="primary" @click="add(true)">添加账单</el-button>
        </el-col>
      </el-row>
    </el-header>
    <el-main>
      <el-row type="flex" justify="center">
        <el-col :span="6"><div class="text-center">收入： {{ incoming | fixed }}</div></el-col>
        <el-col :span="6"><div class="text-center">支出： {{ spending | fixed }}</div></el-col>
      </el-row>
      <el-collapse class="mt-5" v-model="activeName" accordion>
        <el-collapse-item title="摘要" name="1">
          <statistic :bills="bills"/>
        </el-collapse-item>
        <el-collapse-item title="详情" name="2">
           <bill :bills="bills" />
        </el-collapse-item>
      </el-collapse>
    </el-main>
    <bill-form v-if="show" :categories="categories" @bill="newBill" @close="add(false)"/>
  </el-container>
</template>
<script>

import axios from 'axios'
import { Loading, Message } from 'element-ui'
import Bill from './components/bill.vue'
import BillForm from './components/billForm.vue'
import Statistic from './components/statistic.vue'

let loader 
axios.interceptors.request.use(
  config => {
    loader = Loading.service({})
    return config
  },
  err => {
    console.error(err)
    return Promise.reject(err)
  })

axios.interceptors.response.use(
  res => {
    setTimeout(loader.close.bind(loader), 300)
    if(!res){
      return
    }
    if(res.data.errno != 0){
      Message.warning({
        message: res.data.msg
      })
    }
    return res.data
  },
  err => {
    if (err.response) {
      Message.error({
          message: err.response.data.msg
      })
    }
    console.error(err)
    return Promise.reject(err)
  })

export default {
  name: 'App',
  data: () =>{
    return {
      show: false,
      incoming: 0,
      spending: 0,
      activeName: '1',
      kind: '',
      months: [],
      bills: [],
      categories: [],
      options:[]
    }
  },
  components: {
    Bill,
    BillForm,
    Statistic
  },
  mounted () {
    this.load()
  },
  methods: {
    load(){
      this.request('/api/category', (res)=>{
        if(!res.errno){
          this.categories = res.data
        }
        this.request('/api/bill', (res)=>{
          if(!res.errno){
            this.bills = res.data
          }
          this.init()        
        })
      })
    },
    init(){
      this.bills = this.transfrom(this.bills)
      this.all = this.bills.slice()
      let options = [{
        label: '收入',
        options: []
      },{
        label: '支出',
        options: []
      }]
      this.categories.forEach((item) => {
        options[item.type === 0 ? 1 : 0].options.push({
          value: item.id,
          label: item.name
        })
      })
      this.options = options
      this.calc()
    },
    transfrom(bills){
      return bills.map((item) => {
        item.typeName = item.type === 0 ? '支出' : '收入'
        item.categoryName = this.category(item.category)
        return item
      })
      
    },
    request(url, cb, params = {}){
      axios.get(url, params).then(cb)
    },
    calc(){
      let incoming = 0
      let spending = 0
      this.bills.forEach((item) => {
        if(item.type == 0){
          spending += item.amount
        }else{
          incoming += item.amount
        }
      })
      this.incoming = incoming
      this.spending = spending
    },
    category(str){
      const item = this.categories.find((val) => val.id == str)
      return item ? item.name : '未知'
    },
    monthChange(val){
      let url
      if(Array.isArray(val)){
        url = `/api/bill/${+val[0]}/${+val[1]}`
      }else{
        url = `/api/bill/${+val}`
      }
      this.request(url, (res) =>{
        if(!res.errno){
          this.bills = res.data
          this.init()
        }
      })
    },
    filter(val){
      this.bills = this.all.filter((item) => item.category == val)
      this.bills = this.transfrom(this.bills)
    },
    clear(){
      this.bills = [...this.all]
    },
    add(val){
      this.show = val
    },
    newBill(bill){
      this.bills.push(bill)
      this.bills = this.transfrom(this.bills)
      this.show = false
      this.calc()
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
<style scoped>
  .space{
    padding: 0 16px
  }
  .text-center{
    text-align: center;
  }
  .text-right{
    text-align: right;
  }
  .mr-3{
    margin-right: 1em;
  }
  .mt-3{
    margin-top: 1em;
  }
  .mt-5{
    margin-top: 3em;
  }
</style>
